extends _layout.pug
block locals
  - var title = 'Hello Pug!'
block content
  #vue-root
  #react-root
  div(class="lax lax_preset_seesaw:140:20"
    style="height: 500px; display: flex; align-items: center; justify-content: center;")
    p(style="font-size: 120px; font-family: bold;") Lax
  .main-image
    img.icon(src="../images/icon.png")
