@import 'footer.scss';

@mixin set-margin($direction, $value) {
  margin-#{$direction}: $value;
}

body {
  color: lightblue;
  .purple {
    color: purple;
  }
}

$text-color: orange;
.content {
  .title {
    font-size: 24px;
    color: $text-color;
  }
  .title-lg {
    @extend .title;
    font-size: 32px;
  }
  @include set-margin(right, 16px);
}
